.hero{
    background-color: nth($colores,3);
    height: 350px;
    @extend %flex-sp-btw-center;
    flex-wrap: wrap;
    .hero-contenido{
        padding: 0 110px;
        h2{
            font-size: 70px;
            
        }
        p{
            font-size: 25px;
        }
    }
    .hero-image {
        img{
            max-width: 350px;
        }
    }
}
.marcas{
    padding: 20px;
    .contenedor-marcas{
        .item{
            img{
                width: 150px;
            }
        }
    }
}

.productos{
    padding: 20px;
    .dos-columnas{
        .item{
            height: 300px;
            background-color: nth($colores,3);
            background-image: url("../img/fondo-items-productos.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            padding: 20px;
            @extend %flex-sp-btw-center;
            @include animacion (box-shadow,$tiempo-animacion);
                &:hover{
                    box-shadow: 1px 1px 4px nth($colores,3);
                }
            h3{
                font-size: 30px;
            }
            h4{
                margin: 10px 0;
                font-weight: 400;
            }
            img{
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                max-width: 300px;
                max-height: 300px;
            }
            a{
                background-color: nth($colores,4);
                color: nth($colores,7);
                text-transform: uppercase;
                padding: 5px 10px;
                text-decoration: none;
                @include animacion (background-color,$tiempo-animacion);
                    &:hover{
                        background-color: nth($colores,5);
                    }
            }
        }
    }
    .cuatro-columnas{
        .item{
            height: auto;
            padding: 20px;
            background-color: nth($colores,7);
            border: 3px solid nth($colores,3);
            @include animacion (box-shadow,$tiempo-animacion);
                &:hover{
                    box-shadow: 1px 1px 4px nth($colores,3);
                }
            img{
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            h3{
                font-size: 25px;
            }
            h4{
                margin: 10px 0;
                font-weight: 400;
            }
            a{
                background-color: nth($colores,4);
                color: nth($colores,7);
                text-transform: uppercase;
                padding: 5px 10px;
                text-decoration: none;
                @include animacion (background-color,$tiempo-animacion);
                    &:hover{
                        background-color: nth($colores,5);
                    }
            }
        }
    }
}

.fixed{
    position: fixed;
    bottom: 130px;
    right: 5px;
    background-color: nth($colores,4);
    border-radius: 50%;
    padding: 12px;
    @include animacion (background-color,$tiempo-animacion);
        &:hover{
            background-color: nth($colores,5);
        }
    a{
        text-decoration: none;
        color: nth($colores,7) !important;
    }
}